# User Story 31 – Cargo-Revenue Correlation and Regression Analysis

##  Introduction

In the context of railway station operations, understanding how various types of **cargo traffic** influence **revenue** is essential for financial planning and decision-making.  
This user story implements a **statistical and predictive model** using **simple linear regression** to analyze the correlation between a cargo type (independent variable $x$) and revenue (dependent variable $y$).

---

##  Objectives

1. **Load and clean the dataset (`Stations_Data.csv`)**
2. **Group the data by station and year**
3. **Sum revenue and cargo quantities**
4. **Calculate the correlation coefficient** to identify which cargo type most influences revenue
5. **Perform simple linear regression** using that cargo type
6. **Predict revenue** using the fitted model
7. **Generate a 95% confidence interval** for the prediction
8. **Visualize the regression** with the fitted line, real data points, and confidence bounds

---

##  Mathematical Foundation

###  1. Correlation Coefficient 

We calculate the **Pearson correlation coefficient** between cargo $x$ and revenue $y$:

$$
r = \frac{\sum (x_i - \bar{x})(y_i - \bar{y})}{\sqrt{\sum (x_i - \bar{x})^2 \sum (y_i - \bar{y})^2}}
$$

This gives us the **strength and direction** of the linear relationship.

---

###  2. Simple Linear Regression 
The goal is to model:

$$
y = \beta_0 + \beta_1 x + \varepsilon
$$

Where:
- $y$ = Revenue (dependent variable)  
- $x$ = Cargo volume (independent variable)  
- $\beta_0$ = Intercept  
- $\beta_1$ = Slope  
- $\varepsilon$ = Random error term  

We estimate the coefficients using the **least squares method**:

$$
\hat{\beta}_1 = \frac{S_{xy}}{S_{xx}}, \quad \hat{\beta}_0 = \bar{y} - \hat{\beta}_1 \bar{x}
$$

Where:

$$
S_{xy} = \sum (x_i - \bar{x})(y_i - \bar{y}), \quad S_{xx} = \sum (x_i - \bar{x})^2
$$

---

###  3. Revenue Prediction

Once we obtain $\hat{\beta}_0$ and $\hat{\beta}_1$, we can predict the revenue for a new cargo value $x_p$:

$$
\hat{y}_p = \hat{\beta}_0 + \hat{\beta}_1 x_p
$$

---

###  4. Confidence Interval for the Predicted Mean 

The **95% confidence interval** for the expected value $\hat{y}_p$ is given by:

$$
\hat{y}_p \pm t_{1 - \frac{\alpha}{2}} \cdot \sqrt{s^2 \left( \frac{1}{n} + \frac{(x_p - \bar{x})^2}{S_{xx}} \right)}
$$

Where:
- $s^2$ = estimated variance of the residuals  
- $t$ = t-score for 95% CI from Student's t-distribution  
- $n$ = number of observations  

---

###  5. Hypothesis Testing on Coefficients (Optional feature of this program)

We test the significance of the slope coefficient:

- $H_0: \beta_1 = 0$ (no correlation between cargo and revenue)  
- $H_1: \beta_1 \ne 0$ (significant linear relationship)

This validates whether the cargo type is a **statistically significant predictor** of revenue, using a **t-test** and **p-value** interpretation.

---

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import statsmodels.api as sm

In [6]:
stations_df = pd.read_csv("Stations_Data.csv", delimiter=";", decimal=",", encoding="utf-8")
stations_df.head()

,Station,Year,Month,Arrivals,Iron,Coal,Steel,Vegetables,Cereals,Wool,Coffee,Cattle,Passengers,Mail,Revenues,Expenses
0,Stuttgart,2015,1,712,1067.20,76.77,416.56,9.24,30.82,1.07,534.14,200.26,80794,7.32,446.19,676.71
1,Frankfurt,2015,1,404,1355.85,49.56,524.42,10.61,407.14,1.46,545.87,203.49,319083,1.30,430.96,396.04
2,Hannover,2015,1,363,1111.25,49.72,348.12,0.43,239.06,0.25,297.00,193.79,159225,15.28,503.12,264.66
3,Hamburg,2015,1,1368,2536.21,141.80,782.73,9.62,801.89,5.44,641.57,356.80,207077,12.99,1328.13,300.91
4,Berlin,2015,1,803,5244.78,142.12,1561.94,29.51,318.11,3.34,331.54,1196.09,163112,69.51,2012.37,2013.24

## Data Cleaning and Preparation

To prepare the data for regression analysis, we:
1. Convert all numeric columns to the correct format by replacing decimal commas with points.
2. Select only the relevant **cargo columns** (e.g., Iron, Coal, Wool...) and the **Revenue**.
3. Group the dataset by **Station** and **Year**.
4. Aggregate the **sum of cargo volumes** and **revenue** per year per station.
5. Store the result in a new DataFrame, where each row represents a station-year and the columns are the cargo volumes and total revenue.

This allows us to study how the variation in different types of cargo influences the overall revenue using regression techniques described in Chapter 6.

In [7]:
# Replace comma decimal separators in all numeric columns
for col in stations_df.columns:
    stations_df[col] = stations_df[col].astype(str).str.replace(',', '.').str.strip()

# Convert cargo and revenue columns to numeric (coerce invalids to NaN)
numeric_cols = ['Iron', 'Coal', 'Steel', 'Wool', 'Cereals', 'Coffee', 'Cattle', 'Mail', 'Revenues']
stations_df[numeric_cols] = stations_df[numeric_cols].apply(pd.to_numeric, errors='coerce')

# Calculate profit if needed (not used for US31)
# stations_df['Profit'] = stations_df['Revenues'] - stations_df['Expenses']

# Group by Station and Year and sum relevant columns
cargo_and_revenue = stations_df.groupby(['Station', 'Year'])[numeric_cols].sum().reset_index()

cargo_and_revenue.head()

,Station,Year,Iron,Coal,Steel,Wool,Cereals,Coffee,Cattle,Mail,Revenues
0,Berlin,2015,75456.37,2263.37,21604.00,54.41,18087.09,16301.93,9392.48,451.99,26874.40
1,Berlin,2016,155965.62,6545.61,43599.78,177.40,13398.94,76444.42,33038.82,1325.01,68783.34
2,Berlin,2017,59371.32,1711.04,14992.75,146.93,11151.98,59347.64,21972.47,1579.81,33438.50
3,Berlin,2018,182689.63,7866.22,60663.77,94.99,67137.03,44429.56,18271.76,1343.90,89399.67
4,Berlin,2019,198850.79,7242.19,56695.74,120.09,54701.81,48159.03,21109.21,1440.08,74421.16

In [8]:
# Step 2 – Load and clean data, get January for selected station/year

# Load CSV file
file_path = "Stations_Data.csv"
df = pd.read_csv(file_path, delimiter=";", decimal=",", encoding="utf-8")

# Convert Month from number to name (e.g. 1 → January)
df['Month'] = pd.to_numeric(df['Month'], errors='coerce')
df['Month'] = pd.to_datetime(df['Month'], format='%m', errors='coerce').dt.strftime('%B')

# Define relevant cargo and revenue columns
cargo_cols = ['Iron', 'Coal', 'Steel', 'Wool', 'Cereals', 'Coffee', 'Cattle', 'Mail']
all_numeric_cols = cargo_cols + ['Revenues']

# Convert number formats (from string with comma to float)
for col in all_numeric_cols:
    df[col] = df[col].astype(str).str.replace(",", ".").str.strip()
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Prompt user | PROMPT AVALIABLE STATIONS
available_stations = df['Station'].dropna().unique()
print("Available stations:", ", ".join(available_stations))

# Prompt user | PROMPT AVALIABLE YEARS
available_years = df['Year'].dropna().unique()
print("Available years:", (available_years))

station_input = input("Enter the station name to analyze: ").strip()
year_input = int(input("Enter the year to analyze: ").strip())

# Filter for station and year
filtered = df[(df['Station'] == station_input) & (df['Year'] == year_input)]

# Extract January only
january_data = filtered[filtered['Month'] == 'January']

# Display the January data
if january_data.empty:
    print(f"No January data found for {station_input} in {year_input}.")
else:
    print(f"\n January data for {station_input} in {year_input}:\n")
    display(january_data[['Month', 'Year'] + cargo_cols + ['Revenues']])

Available stations: Stuttgart, Frankfurt, Hannover, Hamburg, Berlin
Available years: [2015 2016 2017 2018 2019 2020 2021 2022 2023 2024]

Enter the station name to analyze:  Stuttgart
Enter the year to analyze:  2019

 January data for Stuttgart in 2019:

,Month,Year,Iron,Coal,Steel,Wool,Cereals,Coffee,Cattle,Mail,Revenues
240,January,2019,3335.95,66.43,832.17,1.32,794.66,841.63,401.98,24.59,1189.43

##  Correlation Analysis

We now calculate the **Pearson correlation coefficient** between each cargo type and revenue.

This helps us determine which cargo type has the **strongest linear relationship** with revenue.  
We will use this variable as the **independent variable** ($x$) in our regression model.

The Pearson correlation coefficient is:

$$
r = \frac{\sum (x_i - \bar{x})(y_i - \bar{y})}{\sqrt{\sum (x_i - \bar{x})^2 \sum (y_i - \bar{y})^2}}
$$

A value of $|r|$ closer to 1 indicates a **stronger correlation**.

In [9]:
cargo_data = january_data[cargo_cols].iloc[0]

# choose cargo with largest quantity
best_cargo = cargo_data.abs().idxmax()
cargo_amount = cargo_data[best_cargo]

print(f"\n Only one row found. Using cargo with highest quantity instead.")
print(f" For selected cargo {station_input}: {best_cargo} (amount is = {cargo_amount})")

 Only one row found. Using cargo with highest quantity instead.
 For selected cargo Stuttgart: Iron (amount is = 3335.95)

### Linear Regression Model

To estimate the impact of cargo on revenue, we fit the model:

$$
Y = \beta_0 + \beta_1 X + \varepsilon
$$

Where:
- $Y$ = Revenue
- $X$ = Cargo quantity
- $\beta_0$ = Intercept
- $\beta_1$ = Slope (impact of cargo)

In [13]:
import statsmodels.api as sm

# Step 6: Linear regression between best cargo and revenue
X = filtered_data[[best_cargo]]
y = filtered_data['Revenues']

# Fit the model using statsmodels
X_sm = sm.add_constant(X)
model = sm.OLS(y, X_sm).fit()

# Display regression summary
print(model.summary())

NameError: name 'filtered_data' is not defined

In [14]:
import matplotlib.pyplot as plt
import seaborn as sns

# Scatter plot with regression line
plt.figure(figsize=(8, 6))
sns.regplot(x=best_cargo, y='Revenues', data=filtered_data, ci=None)
plt.title(f"Regression: {best_cargo} vs. Revenue")
plt.xlabel(best_cargo)
plt.ylabel("Revenues")
plt.grid(True)
plt.show()

NameError: name 'filtered_data' is not defined

## Predict January Revenue for Next Year with 10% More Cargo

Assume the amount of the most correlated cargo increases by 10% in January of the following year.

We'll use the regression model:

$$
\hat{y} = \beta_0 + \beta_1 \cdot x
$$

Where:
- $\hat{y}$ is the predicted revenue
- $x$ is the new cargo value (10% increase over this year’s January cargo)

In [3]:
# Step 8 – Predict next January's revenue with +10% cargo

# Step 8.1: Find January cargo value for this year
jan_current = filtered_data[filtered_data['Month'].astype(str).str.lower() == 'january']
if jan_current.empty:
    raise ValueError("January data not found for the selected year. Cannot continue.")

x_jan = jan_current[best_cargo].values[0]
x_next = x_jan * 1.10  # Apply 10% increase

# Step 8.2: Predict revenue using regression model
y_pred_next = model.predict([1, x_next])[0]

print(f"\n January {year_input} {best_cargo} = {x_jan:.2f}")
print(f" +10% → {x_next:.2f}")
print(f" Predicted January {year_input+1} Revenue: R$ {y_pred_next:.3f} million")

NameError: name 'filtered_data' is not defined

##  95% Confidence Interval for Prediction

We compute the 95% confidence interval using:

$$
\hat{y}_p \pm t_{\alpha/2, n-2} \cdot s \cdot \sqrt{1 + \frac{(x_p - \bar{x})^2}{S_{xx}}}
$$

Where:
- $\hat{y}_p$ = predicted value
- $s$ = standard error of regression
- $S_{xx}$ = sum of squares of x deviations
- $t$ = value from t-distribution with $n-2$ degrees of freedom

In [2]:
from scipy.stats import t

# Residuals and degrees of freedom
residuals = model.resid
df_resid = int(model.df_resid)
s_squared = np.sum(residuals**2) / df_resid
s = np.sqrt(s_squared)

# Statistics for confidence interval
x_vals = filtered_data[best_cargo]
x_bar = np.mean(x_vals)
Sxx = np.sum((x_vals - x_bar)**2)

# Confidence interval formula
t_value = t.ppf(0.975, df_resid)
margin = t_value * s * np.sqrt(1 + ((x_next - x_bar)**2 / Sxx))
lower = y_pred_next - margin
upper = y_pred_next + margin

print(f"\n 95% Confidence Interval for predicted revenue:")
print(f"→ [R$ {lower:.3f} million, R$ {upper:.3f} million]")

NameError: name 'model' is not defined